body {
    font-family: 'Roboto', sans-serif;
    color: #424242;
}

.navbar {
  border-bottom: 5px solid #dbdbdb;
  margin-bottom: 1rem;
  background: #fff;
  height: 2rem;
}
.navbar.dash_layout {
  position:relative !important;
}
.navbar .separator{
  margin-left: 1rem;
  display: inline-flex;
  margin-top: auto;
  color: #164479;
}
.headerValueName, .navbar-brand{
  margin-left: 1rem;
  color: #164479;
}

.headerValueName:hover, .navbar-brand:hover{
  color: #AFCA15 !important
}
/* nav .nav-link {
  color: #17a2b8;
  font-weight: bold;
} */
/* 
.app_container {
  margin-top: 80px;
}

.root_loader {
  text-align: center;
  margin-top: 200px;
} */