.tableHead {
  /* background-color: #164479; */
  background-color: #164479;
}

th {
  /* color: #AFCA15 !important; */
  color: #fff !important;
  font-size: 1.1rem !important;
}
.table {
  min-width: 650px;
}
.gridActionsContainer {
  margin-bottom: 1rem;
}

.addBtn {
  margin: auto;
  background-color: #164479 !important;
  color: #fff !important;
  width: 100%;
}

.addBtn:hover{
    color:#fff !important;
}

.tableTitle {
  color: #164479;
}
